.container {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -10;
}
.container::after {
	content: '';
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -9;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.2);
}
.container video {
	position: absolute;
	z-index: -10;
	width: 100%;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	animation: videoScale 15s linear infinite;
}

@keyframes videoScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
